.single-cover{
  position: absolute;
  top: 16rem;
  color: white;
  background-color: #00A9D9;
  text-align: center;
}

.single-cover p {
  margin: 0;
}

.info{
  padding: 8rem 0 4rem 0;
}

.green-box{
  background-color: #55BA59;
  color: white;
  padding: .8rem;
}

.text-green{
  color: #97DD66;
}

.linea{
  border-left: 1px solid black;
  margin: 0 1rem;
}

.gray-box{
  background-color: #F6F6F6;
  padding: 3rem 0 5rem 0;
  border-top: 1px solid #E3E3E3;
}
